<!-- wrapper -->
		<div id="wrapper">

			<!-- 
				AVAILABLE HEADER CLASSES
				Default nav height: 96px
				.header-md 		= 70px nav height
				.header-sm 		= 60px nav height
				.b-0 		= remove bottom border (only with transparent use)
				.transparent	= transparent header
				.translucent	= translucent header
				.sticky			= sticky header
				.static			= static header
				.dark			= dark header
				.bottom			= header on bottom
				
				shadow-before-1 = shadow 1 header top
				shadow-after-1 	= shadow 1 header bottom
				shadow-before-2 = shadow 2 header top
				shadow-after-2 	= shadow 2 header bottom
				shadow-before-3 = shadow 3 header top
				shadow-after-3 	= shadow 3 header bottom
				.clearfix		= required for mobile menu, do not remove!
				Example Usage:  class="clearfix sticky header-sm transparent b-0"
			-->
			<div id="header" class="navbar-toggleable-md sticky clearfix">

            <!-- TOP NAV -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- BUTTONS -->
						<ul class="float-right nav nav-pills nav-second-main">

						</ul>
						<!-- /BUTTONS -->

						<!-- Logo -->
						<a class="logo float-left mt-10 mb-10" href="index.html">
							<img src="/assets/R2.png" alt="Rocket Elevator Logo" />
						</a>

						<!--
							Top Nav
							AVAILABLE CLASSES:
							submenu-dark = dark sub menu
						-->
						<div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark mt-10">
							<nav class="nav-main">

								<!--
									NOTE
									For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
									Direct Link Example:
									<li>
										<a href="#">HOME</a>
									</li>
								-->
								<ul id="topMain" class="nav nav-pills nav-main">
									<li>
										<a href="index.html">
											HOME
										</a>
									</li>
									<li class="dropdown active"><!-- PAGES -->
										<a class="dropdown-toggle" href="./index.html#services">
											SERVICES
										</a>
										<ul class="dropdown-menu">
											<li class="dropdown">
												<a href="residential.html">
													RESIDENTIAL
												</a>
											</li>
											<li class="dropdown">
												<a href="corporate.html">
													CORPORATE
												</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="./index.html#portfolio">
											PORTFOLIO
										</a>
									<li>
										<a href="./index.html#news">
											NEWS
										</a>
									</li>
									<li>
										<a href="./index.html#clients">
											CLIENTS
										</a>
									</li>
									<li>
										<a href="./index.html#contact">
											CONTACT
										</a>
								</ul>

							</nav>
						</div>

					</div>
				</header>
				<!-- /Top Nav -->

			</div>


			<!-- 
				PAGE HEADER 
				
				CLASSES:
					.page-header-xs	= 20px margins
					.page-header-md	= 50px margins
					.page-header-lg	= 80px margins
					.page-header-xlg= 130px margins
					.dark			= dark page header
					.shadow-before-1 	= shadow 1 header top
					.shadow-after-1 	= shadow 1 header bottom
					.shadow-before-2 	= shadow 2 header top
					.shadow-after-2 	= shadow 2 header bottom
					.shadow-before-3 	= shadow 3 header top
					.shadow-after-3 	= shadow 3 header bottom
			-->
			<section class="page-header">
				<div class="container">

					<h1>PRODUCT AND INSTALLATION ESTIMATION</h1>

				</div>
			</section>
			<!-- /PAGE HEADER -->


			<!-- -->
			<div>
				<div class="container" style="height: 1100px;">
					
                    <div class="card card-default mt-30">
                        <div class="card-heading card-heading-transparent">
                            <h2 class="card-title bold">Quotation</h2>
                        </div>
                        <div class="card-block">
                            <label>
                                Project Type
                            </label>
                            <select id="project_type" style="width: 250px;">
                                <option value="null" selected disabled hidden>Select...</option>
                                <option value ="residential">Residential</option>
                                <option value ="commercial">Commercial</option>
                                <option value ="corporate">Corporate</option>
                                <option value ="hybrid">Hybrid</option>
                            </select>
                            <div class="row pl-15 pr-25">
								<div class="col-md-7 p-0">
									<div class="card card-default col-md-12 mt-30 pl-0 pr-0 quoter" id="residential">
										<div class="card-heading card-heading-transparent">
											<h2 class="card-title bold">Residential</h2>
										</div>
										<div class="p-20">
											<label>How many apartments does your building have?</label>
											<input type="number" value="1" min="1" class="form-control resinput" id="resapartments">
											<label class="mt-20">How many floors are there in the building?</label>
											<input type="number" value="2" min="2" class="form-control resinput" id="resfloors">
											<label class="mt-20">How many basements are there?</label>
											<input type="number" value="0" min="0" class="form-control">
											<div class="row">
												<p class="col-md-6 mt-30 ml-5 bold">We recommend <span class="fs-30 bold" id="restotal" style="color: #1980B6;"></span> &nbsp;elevator<span id="resplural"></span>.</p>
												<button type="button" class="btn btn-primary btn-round mt-30 ml-auto mr-15 nextbutton">Next Step</button>
											</div>
										</div>
									</div>
									<div class="card card-default col-md-12 mt-30 pl-0 pr-0 quoter" id="commercial">
										<div class="card-heading card-heading-transparent">
											<h2 class="card-title bold">Commercial</h2>
										</div>
										<div class="p-20">
											<label>How many businesses are there in your building?</label>
											<input type="number" value="1" min="1" class="form-control">
											<label class="mt-20">How many floors are there in the building?</label>
											<input type="number" value="2" min="2" class="form-control">
											<label class="mt-20">How many basements are there?</label>
											<input type="number" value="0" min="0" class="form-control">
											<label class="mt-20">How many parking spaces are available?</label>
											<input type="number" value="0" min="0" class="form-control">
											<label class="mt-20">How many elevator cages are to be deployed?</label>
											<input type="number" value="1" min="1" class="form-control" id="commercialelevators">
											<div class="row">
												<button type="button" class="btn btn-primary btn-round mt-30 ml-auto mr-15 nextbutton">Next Step</button>
											</div>
										</div>
									</div>
									<div class="card card-default col-md-12 mt-30 pl-0 pr-0 quoter" id="corporate">
										<div class="card-heading card-heading-transparent">
											<h2 class="card-title bold">Corporate</h2>
										</div>
										<div class="p-20">
											<label>How many tenant companies does your building accommodate?</label>
											<input type="number" value="1" min="1" class="form-control">
											<label class="mt-20">How many floors are there in the building?</label>
											<input type="number" value="2" min="2" class="form-control recommendinput" id="corporatefloors">
											<label class="mt-20">How many basements are there?</label>
											<input type="number" value="0" min="0" class="form-control recommendinput" id="corporatebasements">
											<label class="mt-20">How many parking spaces are available?</label>
											<input type="number" value="0" min="0" class="form-control">
											<label class="mt-20">What is the maximum number of occupants (capacity) per floor?</label>
											<input type="number" value="10" min="1" class="form-control recommendinput" id="corporateoccupants">
											<div class="row">
												<p class="col-md-6 mt-30 ml-5 bold">We recommend <span class="fs-30 bold" id="corporatetotal" style="color: #1980B6;"></span> &nbsp;elevator<span id="corporateplural"></span>.</p>
												<button type="button" class="btn btn-primary btn-round mt-30 ml-auto mr-15 nextbutton">Next Step</button>
											</div>
										</div>
									</div>
									<div class="card card-default col-md-12 mt-30 pl-0 pr-0 quoter" id="hybrid">
										<div class="card-heading card-heading-transparent">
											<h2 class="card-title bold">Hybrid</h2>
										</div>
										<div class="p-20">
											<label>How many distinct businesses are there in your building?</label>
											<input type="number" value="1" min="1" class="form-control">
											<label class="mt-20">How many floors are there in the building?</label>
											<input type="number" value="2" min="2" class="form-control recommendinput" id="hybridfloors">
											<label class="mt-20">How many basements are there?</label>
											<input type="number" value="0" min="0" class="form-control recommendinput" id="hybridbasements">
											<label class="mt-20">How many parking spaces are available?</label>
											<input type="number" value="0" min="0" class="form-control">
											<label class="mt-20">What is the maximum number of occupants (capacity) per floor?</label>
											<input type="number" value="10" min="1" class="form-control recommendinput" id="hybridoccupants">
											<label class="mt-20">How many hours a day is your building active (open)?</label>
											<input type="number" value="8" min="1" max="24" class="form-control">
											<div class="row">
												<p class="col-md-6 mt-30 ml-5 bold">We recommend <span class="fs-30 bold" id="hybridtotal" style="color: #1980B6;"></span> &nbsp;elevator<span id="hybridplural"></span>.</p>
												<button type="button" class="btn btn-primary btn-round mt-30 ml-auto mr-15 nextbutton">Next Step</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col p-20 mr-5">
									<div class="row">
										<div class="card card-default ml-15 mt-10 col-md-12 pl-0 pr-0 quoter" id="elevatorselection">
											<div class="card-heading card-heading-transparent">
												<h2 class="card-title bold">Choose your elevator type:</h2>
											</div>
											<div class="p-20">
												<label class="radio">
													<input type="radio" name="elevatortype" value="standard" checked="checked">
													<i></i> Standard
												</label>
												<label class="radio">
													<input type="radio" name="elevatortype" value="premium">
													<i></i> Premium
												</label>
												<label class="radio">
													<input type="radio" name="elevatortype" value="excelium">
													<i></i> Excelium
												</label>
											</div>
											<button type="button" class="btn btn-primary btn-round ml-auto mr-20 mb-20" id="calculate">Calculate</button>
										</div>
									</div>
									<div class="row">
										<div class="card card-default ml-15 col-md-12 pl-0 pr-0 quoter" id="finalquote">
											<div class="card-heading card-heading-transparent">
												<h2 class="card-title bold">Your Rocket Elevator Services</h2>
											</div>
											<div class="table-responsive p-20">
												<table class="table ml-15">
													<tr>
														<td class="text-right">Elevators (<span id="selectedtype">Standard</span>):</td>
														<td class="text-right">$ <span id="productprice">1.00</span></td>
													</tr>
													<tr>
														<td class="text-right">Installation:</td>
														<td class="text-right">$ <span id="installationprice">1.00</span></td>
													</tr>
												</table>
											</div>
											<div>
												<p class="text-right fs-30 mr-15 ml-15" style="border-top: 2px solid lightgray;">Total (CAD): $ <span id="totalprice" style="color: #1980B6; font-weight: bold;">35000</span>
												<p class="fs-10 mr-15 ml-30">*Please note that prices do not reflect taxes and are subject to change.</p>
											</div>
										</div>
									</div>
								</div>
                            </div>
                        </div>
                    </div>
					
                </div></div>
                
			</section>
			<!-- / -->


			<!-- FOOTER -->