
		<!-- wrapper -->
		<div id="wrapper">

			<!--
				AVAILABLE HEADER CLASSES
				Default nav height: 96px
				.header-md 		= 70px nav height
				.header-sm 		= 60px nav height
				.b-0 		= remove bottom border (only with transparent use)
				.transparent	= transparent header
				.translucent	= translucent header
				.sticky			= sticky header
				.static			= static header
				.dark			= dark header
				.bottom			= header on bottom
				shadow-before-1 = shadow 1 header top
				shadow-after-1 	= shadow 1 header bottom
				shadow-before-2 = shadow 2 header top
				shadow-after-2 	= shadow 2 header bottom
				shadow-before-3 = shadow 3 header top
				shadow-after-3 	= shadow 3 header bottom
				.clearfix		= required for mobile menu, do not remove!
				Example Usage:  class="clearfix sticky header-sm transparent b-0"
			-->
			<div id="header" class="navbar-toggleable-md sticky transparent dark clearfix">

				<!-- TOP NAV -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- BUTTONS -->
						<ul class="float-right nav nav-pills nav-second-main">

						</ul>
						<!-- /BUTTONS -->

						<!-- Logo -->
						<a class="logo float-left mt-10 mb-10" href="index.html">
							<img src="/assets/R2.png" alt="Rocket Elevator Logo" />
						</a>

						<!--
							Top Nav
							AVAILABLE CLASSES:
							submenu-dark = dark sub menu
						-->
						<div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark mt-10">
							<nav class="nav-main">

								<!--
									NOTE
									For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
									Direct Link Example:
									<li>
										<a href="#">HOME</a>
									</li>
								-->
								<ul id="topMain" class="nav nav-pills nav-main">
									<li>
										<a href="index.html">
											HOME
										</a>
									</li>
									<li class="dropdown active"><!-- PAGES -->
										<a class="dropdown-toggle" href="./index.html#services">
											SERVICES
										</a>
										<ul class="dropdown-menu">
											<li class="dropdown">
												<a href="residential.html">
													RESIDENTIAL
												</a>
											</li>
											<li class="dropdown">
												<a href="corporate.html">
													CORPORATE
												</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="./index.html#portfolio">
											PORTFOLIO
										</a>
									<li>
										<a href="./index.html#news">
											NEWS
										</a>
									</li>
									<li>
										<a href="./index.html#clients">
											CLIENTS
										</a>
									</li>
									<li>
										<a href="./index.html#contact">
											CONTACT
										</a>
								</ul>

							</nav>
						</div>

					</div>
				</header>
				<!-- /Top Nav -->

			</div>


			<!--
				PAGE HEADER
				CLASSES:
					.page-header-xs	= 20px margins
					.page-header-md	= 50px margins
					.page-header-lg	= 80px margins
					.page-header-xlg= 130px margins
					.dark			= dark page header
					.shadow-before-1 	= shadow 1 header top
					.shadow-after-1 	= shadow 1 header bottom
					.shadow-before-2 	= shadow 2 header top
					.shadow-after-2 	= shadow 2 header bottom
					.shadow-before-3 	= shadow 3 header top
					.shadow-after-3 	= shadow 3 header bottom
			-->
			<section class="page-header parallax parallax-4" style="background-image:url('/assets/residential.jpeg')">
				<div class="overlay dark-5"><!-- dark overlay [1 to 9 opacity] --></div>

				<div class="container">

					<h1 class="fs-50 bold">RESIDENTIAL SERVICES</h1>

				</div>
			</section>
			<!-- /PAGE HEADER -->




			<!-- -->
			<section class="section-xlg" style="border-bottom: none;">
				<div class="container">

					<div class="row">

						<div class="col-md-6 col-sm-6 hidden-xs-down">

							<img class="img-fluid" src="/assets/AdobeStock_179073967.jpeg" alt="Photo of group in front of elevator">

						</div>

						<div class="col-md-6 col-sm-6">

							<h3 class="m-0">The perfect elevator solution for your residential needs.</h3>
							<p class="mt-0 mb-10 fs-20 font-lato text-muted">We have the elevator you're looking for, whether for a new condo project or simply multi-floor homes where an elevator can be a saving grace for any family members with mobility issues.
								Find out why so many people have chosen Rocket Elevators and why the Ellies named us Best Consultancy in the industry!
							</p>

							<div class="divider mt-0 mb-20"><!-- divider --></div>

							<a class="fs-16 font-lato" href="quote.html"><button type="button" class="btn btn-outline-primary btn-round">Get a Quote!</button></a>

						</div>

					</div>

				</div>
			</section>
			<!-- / -->


			<!-- -->
			<section class="pt-0">
				<div class="container">

					<!-- FEATURED BOXES 3 -->
					<div class="row">
						<div class="col-md-3 col-6">
							<div class="text-center">
								<i class="ico-light ico-lg ico-rounded ico-hover et-trophy"></i>
								<h4>Award Winning</h4>
								<p>Ask us about our various awards and recognitions!</p>

							</div>
						</div>
						<div class="col-md-3 col-6">
							<div class="text-center">
								<i class="ico-light ico-lg ico-rounded ico-hover et-recycle"></i>
								<h4>Eco-Friendly</h4>
								<p>We strive to make our business as environmentally friendly as possible.</p>

							</div>
						</div>
						<div class="col-md-3 col-6">
							<div class="text-center">
								<i class="ico-light ico-lg ico-rounded ico-hover et-profile-male"></i>
								<h4>Customer Service</h4>
								<p>Find out why our service is best in the industry.</p>

							</div>
						</div>
						<div class="col-md-3 col-6">
							<div class="text-center">
								<i class="ico-light ico-lg ico-rounded ico-hover et-map-pin"></i>
								<h4>Local</h4>
								<p>A local company is a company you can trust.</p>

							</div>
						</div>
					</div>
					<!-- /FEATURED BOXES 3 -->

				</div>
			</section>
			<!-- / -->


			<!-- FOOTER -->
			<footer id="footer">
				<div class="container">


				  <div class="row">

					<!-- col #1 -->
					<div class="col-md-8">

					  <h3 class="letter-spacing-1">WHY US?</h3>

					  <!-- Small Description -->
					  <p>
						A family owned business in operation since 1976 is a business you can trust. We believe that the quality of our products and services
						speak for themselves, and we think you'll agree. Find out why so many have made <strong>Rocket Elevators</strong> their trusted consultant for everything elevators.
					  </p>
					  <h2>1 (800) 555-1234</h2>
					</div>
					<!-- /col #1 -->

					<!-- col #2 -->
					<div class="col-md-4">
					  <h3 class="letter-spacing-1">KEEP IN TOUCH</h3>

					  <!-- Newsletter Form -->
					  <p>Subscribe to Our Newsletter to get Important News & Offers</p>

					  <form class="validate" action="php/newsletter.php" method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
						<div class="input-group">
						  <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
						  <input type="email" id="email" name="email" class="form-control required" placeholder="Enter your Email">
						  <span class="input-group-btn">
							<button class="btn btn-success" type="submit">Subscribe</button>
						  </span>
						</div>
					  </form>
					  <!-- /Newsletter Form -->


					</div>
					<!-- /col #2 -->

				  </div>


				</div>

				<div class="copyright">
				  <div class="container">
					<ul class="float-right m-0 list-inline mobile-block">
					  <li>Terms &amp; Conditions</li>
					  <li>&bull;</li>
					  <li>Privacy</li>
					</ul>
					&copy; All Rights Reserved, Rocket Elevators S.E.N.C.
				  </div>
				</div>

			  </footer>
			  <!-- /FOOTER -->

		</div>
		<!-- /wrapper -->
